<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('links') %>
  <link rel="stylesheet" href="/styles/profile.css" />
  <title>Document</title>
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h1>User Profile</h1>
    <div class="profile-info">
        <p><label>Name:</label> <%= user.name %></p>
        <p><label>Username:</label> <%= user.username %></p>
        <p><label>Email:</label> <%= user.email %></p>
        <p><label>Mobile:</label> <%= user.mobile %></p>
        <p><label>Gender:</label> <%= user.gender %></p>
        <p><label>Date of Birth:</label> <%= user.dob.toDateString() %></p>
        <p><label>Address:</label> <%= user.address %></p>
    </div>
    <button onclick="editProfile()">Edit Profile</button>
</div>
</body>
</html>